<form>

    <div class="contacto">
        <h1>Contacto</h1>

        <label for="email">Email</label>
        <input class="barra" id="email" type="email" name="email" placeholder="Email">

        <label for="telefono">Telefono</label>
        <input class="barra" id="tel" type="tel" name="telefono" placeholder="Telefono">


        <div>
            <h4 class="tituloCaptcha">Captcha</h4>

            <div class="captcha">
                <p id="codigo"></p>
            </div>

            <p id="resultado"></p>

        </div>
        <input type="text" id="respuesta">
        <input class="boton" type="submit" name="enviar" value="Enviar" id="enviar">
        <input class="boton" id="reset" type="reset" value="Resetear">
    </div>

</form>