<div class="container">
    <section>
        <h1 id="Novedades">Novedades</h1>
        <div class="logo-dos">
            <img src="imagenes/novedades.png" class="logo2" alt="novedades de juegos">
        </div>
    </section>
    <h2>proximamente</h2>
    <section class="info-proximo">
        <img src="imagenes/CULTLAM.jpg" class="cutl" alt="cult of the lamb">
        <p>Cult of the Lamb combina acción y gestión de forma ejemplar en un juego variado, duradero,
            adictivo y con unos muy buenos valores de producción. La parte hack 'n slash es divertidísima,
            con un reto ajustado y una grata sensación de combate.
            La parte de gestión de la secta es profunda, absorbente y con una progresión de lo más inspirada.
            Combinadas ambas secciones a lo largo de una aventura con mucho humor negro
        </p>
        <ul class="generos">
            <li>#accion</li>
            <li>#aventura</li>
            <li>#estrategia</li>
            <li>#simuldor de colonias</li>
        </ul>
    </section>
    <hr>
    <section class="info-proximo">
        <img src="imagenes/nier.jpg" class="nier" alt="nier replicant">
        <p>NieR Replicant ver.1.22474487139… es un videojuego de rol y acción japonés desarrollado por
            Square Enix que busca actualizar y mejorar la primera versión de NieR Replicant,
            de ahí su extraña nomenclatura que intenta desligarse de una especie de remasterización o remake.
            Incluyendo voces para todos los personajes principales, contará con mejoras en la banda sonora,
            los gráficos o la jugabilidad en sus versiones de Xbox One, PS4 y PC.
        </p>
        <ul class="generos">
            <li>#accion</li>
            <li>#aventura</li>
            <li>#rol</li>
            <li>#ambientales</li>
    </section>
    <hr>
    <section class="info-proximo">
        <img src="imagenes/tlou.jpg" class="tlou" alt="the last of us">
        <p>The Last of Us parte 1 es el nuevo proyecto de Naughty Dog,
            los creadores de la saga Uncharted y de Jak & Daxter. Tras un desastre biológico,
            la mayoría de la población del mundo ha perecido y las calles están desiertas y en ruinas.
            Nosotros controlaremos a Joel, un hombre acompañado de una joven, Ellie,
            teniendo que sobrevivir en un mundo lleno de peligros,
            con otros supervivientes hostiles y una raza de mutantes que nos amenaza a cada paso.
            Un remake muy fiel de una de toda una obra maestra que, sin hacer grandes cambios,
            mejora al original gracias a un apartado gráfico espectacular y pequeños retoques que hacen que
            la experiencia a los mandos sea más satisfactoria.
        </p>
        <ul class="generos">
            <li>#accion</li>
            <li>#aventura</li>
            <li>#survival horror</li>
            <li>#posapocalitptico</li>
    </section>
    <hr>
    <section class="info-proximo">
        <img src="imagenes/hole.jpg" class="hole" alt="hogwarts legacy">
        <p>Hogwarts Legacy es un videojuego de rol y aventuras en tercera persona desarrollado por Warner Bros.
            Games y Avalanche para consolas y PC. El título nos traslada al universo de Harry Potter a través
            de una experiencia inmersiva de mundo abierto ambientada a finales del siglo XIX, invitándonos a
            explorar y descubrir bestias fantásticas, personalizar nuestro personaje y elaborar pociones, dominar
            el lanzamiento de hechizos y desentrañar qué misterios se ocultan en Hogwarts.
        </p>
        <ul class="generos">
            <li>#fantasia</li>
            <li>#rol</li>
            <li>#mundo abierto</li>
            <li>#magia</li>
    </section>
    <hr>
    <section class="info-proximo">
        <img src="imagenes/elden.jpg" class="elden" alt="elden ring">
        <p>Elden Ring es el nuevo videojuego de FromSoftware, creadores de Dark Souls,
            Sekiro o Bloodborne. Se trata del nuevo título de acción y rol para un jugador ideado por
            Hidetaka Miyazaki, que en esta ocasión, estrenará un mundo abierto más grande y ambicioso.
            Su argumento y mitología están firmados por George R.R. Martin, autor de Canción de hielo y fuego.
        </p>
        <ul class="generos">
            <li>#relajantes</li>
            <li>#fantasia oscura</li>
            <li>#mundo abierto</li>
            <li>#dificultad</li>
    </section>
</div>